.App {
  text-align: center;
}

.eventCard {
  height: 125px;
  width: 500px;
  background-color: #171717;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
