.App {
  text-align: center;
}

.eventCard {
  height: 125px;
  width: 500px;
  background-color: #171717;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 75px;
  width: 75px;
}

.form {
  height: 600px;
  width: 700px;
  /* background-color: #171717; */
  color: "white";
}

.numberInput {
  width: 50px;
}