.mainContent {
  display: flex;
  margin-top: 6rem;
}

.featured {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 560px) {
  .mainContent {
    margin-top: 1rem;
  }

  .featured {
    justify-content: center;
    align-items: center;
  }
}

.link {
  text-decoration: none;
}
