@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap");

.eventCard {
  height: 7rem;
  width: 80%;
  background-color: #171717;
  color: white;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 10px #00000020;
  margin-bottom: 2rem;
  transition: 0.2s;
  animation: slide 1s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.eventCard:hover {
  cursor: pointer;
  box-shadow: 0 15px 10px #00000020;
  transform: translateY(-5px);
}

.teamOneContainer {
  display: flex;
  align-items: center;
  width: 30%;
}

.teamTwoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.teamLogo {
  height: 5.5rem;
  width: 5.5rem;
}

.teamOneText {
  margin: 0 1rem;
  text-align: left;
}
.teamTwoText {
  margin: 0 1rem;
  text-align: right;
}

.teamName {
  font-size: 1.2em;
  margin: 0;
  font-weight: 600;
}

.scoreContainer {
  margin: 0 auto;
  justify-self: center;
}

.live {
  margin: 0;
  font-size: 0.4em;
}

.circleLive {
  margin-left: 0.3rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
  display: inline-block;

  animation: blink-animation 1.3s steps(5, start) infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

.score {
  margin: 0.3rem 0;
  font-size: 1.3em;
}

.eventName {
  margin: 0;
  font-size: 0.7em;
  font-family: "Poppins", sans-serif;
  color: #adadcd;
}

.bestOf {
  margin: 0;
  font-size: 0.5em;
  color: #dadfae;
  font-family: "Poppins", sans-serif;
}

.winLoss {
  font-size: 0.5em;
  color: #adadcd;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 1064px) {
  .teamLogo {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .teamLogo {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 560px) {
  .teamName {
    font-size: 1em;
  }

  .teamLogo {
    display: none;
  }
}
