.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  margin-top: 5rem;
  width: 40%;
  background-color: #171717;
  box-shadow: 0 10px 10px #00000020;
  border-radius: 22px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 0;
  font-size: 1.5em;
}

.inputGroup {
  margin: 1rem 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  color: #595961;
  font-size: 0.55em;
}

.input {
  color: white;
  width: 100%;
  background-color: #131212;
  border: 2px solid transparent;
  border-radius: 12px;
  margin-top: 0.5rem;
  padding: 1rem;
  outline: none;
  transition: 0.2s;
  font-size: 0.65em;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #595961;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #595961;
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #595961;
}

.input:focus {
  border: 2px solid #99e7cd;
}

.btn {
  cursor: pointer;
  margin: 2rem 0;
  padding: 0.75rem 5rem;
  border: none;
  outline: none;
  font-size: 0.6em;
  border: 2px solid #99e7cd;
  background-color: transparent;
  color: #99e7cd;
  border-radius: 12px;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
  color: white;
  background-color: #99e7cd;
}

.redirect {
  font-size: 0.45em;
  text-decoration: none;
  color: white;
  margin-top: 0.8rem;
}

.link {
  color: #99e7cd;
  margin-left: 0.2rem;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.link:hover {
  border-bottom: 1px solid #99e7cd;
}
