.container {
  padding: 0 3rem;
  background-color: #171717;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5rem;
  box-shadow: 0 0 10px #00000020;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  width: 30%;
}

.input {
  color: white;
  width: 80%;
  background-color: #131212;
  border: 2px solid transparent;
  border-radius: 22px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.8rem;
  outline: none;
  transition: 0.2s;
  font-size: 0.55em;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #595961;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #595961;
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #595961;
}

.input:focus {
  border: 2px solid #99e7cd;
}

.btn {
  font-size: 0.5em;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background-color: #131212;
  border: 3px solid #adadcd;
  color: #adadcd;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

.btn:hover {
  border: 1px solid #adadcd;
}

@media only screen and (max-width: 1450px) {
  .searchContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  .searchContainer {
    width: 70%;
  }

  .input {
    margin-right: 1rem;
  }

  .btn {
    margin-left: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media only screen and (max-width: 560px) {
  .container {
    padding: 0;
    position: relative;
  }

  .searchContainer {
    width: 100%;
  }

  .input {
    width: 50%;
  }

  .input {
    margin-right: 1rem;
  }

  .btn {
    width: 1rem;
    height: 1rem;
    border: 2px solid #adadcd;
    font-size: 0.5em;
  }
}
